
{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}

<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<style>
    * {
        font-family: 'Fira Sans', sans-serif;;
    }
</style>
<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
    <div class="list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        <div class="list__header--desc single__contents p2">
            {{ .Content }}
            
        </div>

        {{ partial "search/search-result-desktop" . }}
    </div>

    {{ if $.Param "enableSidebar" }}
        <aside class="list__sidebar {{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-home" . }}
        </aside>
    {{ end }}
</main>
{{ partial "script/sidebar-script" . }}
{{ partial "script/home-script" . }}
{{ end }}
